h1 {
    display: relative;
    padding: 30px;
}

.item {
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    color: rgb(43, 43, 43);
    text-shadow: 100px 0px 10px 10px rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.item:hover {
    text-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
    color: rgb(80, 80, 80);
    letter-spacing: 2px;
}