h1 {
    display: relative;
    padding: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    color: rgb(43, 43, 43);
    text-shadow: 1px 0px 10px 10px rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
    align-self: flex-start;
}

.item:hover {
    text-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0);
    transition: all 0.5s ease-in-out;
    color: rgb(80, 80, 80);
    letter-spacing: 4px;
}

.img:before {
    box-shadow: 0px 0px 0px 0px;
}
.img {
    object-fit: cover;
    filter: grayscale(50%);
    width: 1250px;
    height: 500px;
    box-shadow: 5px 5px 30px 0px;
    transition: all 0.3s ease-in-out;
}

.img:hover {
    box-shadow: 5px 5px 30px 10px;
    filter: grayscale(0%);
}

#animImg:before {
    box-shadow: 0px 0px 0px 0px;
}
#animImg {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    filter: grayscale(50%);
    width: 1250px;
    height: 500px;
    box-shadow: 5px 5px 30px 0px;
    transition: all 0.3s ease-in-out;
    background-image: url('https://wallpaperaccess.com/full/1850967.jpg');
    background-position: center;
    background-size: 100%;
}

#animImg:hover {
    box-shadow: 5px 5px 30px 10px;
    filter: grayscale(0%);
}

@media all and (max-width: 768px) {
    .item {
        
    }

    #animImg {
        width: 70%;
        height: 100%;
    }
}